.tasks-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 60px;
    justify-content: end;
    align-items: center;
}

.center-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}